
.Notification {
    position:absolute;
    top: 20px;
    left : 100%;
    width : 340px;
    padding: 10px 15px;
    border-radius : 12px;
    background-color : #ffc350;
    z-index: 1;
}

.Show {
    animation: showup 1s ease-out;
    animation-fill-mode: forwards;
}

.Hide {
    animation:  hideup 3s ease-out;
    animation-fill-mode: forwards;
}

@keyframes showup {
    from {
        left : 100%;
    }
    to {
        left : calc(100% - 360px);
    }
}

@keyframes hideup {
    from {
        left : calc(100% - 360px);

    }
    to {
        left : 100%;
    }
}